[submodule "submodules/Reachability"]
	path = submodules/Reachability
	url = git@github.com:tonymillion/Reachability.git
[submodule "submodules/MBProgressHUD"]
	path = submodules/MBProgressHUD
	url = git@github.com:jdg/MBProgressHUD.git
